<div class="row no-gutters">
 
    <div class="col-sm-5 col-md-6">
        <div style="width:400px;height:200px;margin-left:100px">

            <ul class="list-group">
                <li class="list-group-item list-group-item-success">

                    @Html.ActionLink("Users Manage", "index", "users")

                </li>

                <li class="list-group-item list-group-item-primary">

                    @Html.ActionLink("Posts Manage", "index", "postsAdmin")

                </li>

                <li class="list-group-item list-group-item-secondary">

                    @Html.ActionLink("Consult Manage", "index", "consults")

                </li>
            </ul>
        </div>
    
    </div>
    
    
    
    
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <img src="~/img/admin.jpg" width="400" height="300"/>
    </div>
</div>

