@*this page is to show option either to submit new consulation or to see the answer *@



<table class="table">
    <tr>
        <th>See Your Consultation:</th>
        <td>
            <h4 style="color:orange;margin-left:100px">@Html.ActionLink("My Consulation ", "myconsult", "consults")</h4>
        </td>
            </tr>
    <tr>
        <th>New Consulation:</th>
        <td>
            <h4 style="color:orange;margin-left:100px">@Html.ActionLink("New Consulation ", "usercons", "consults")</h4>
        </td>
  
    </tr>
</table>