@model HeartBlog.Models.consult
@*this page is to show the conulation that user submit  and answer*@

@{
    ViewBag.Title = "Create";
}
        <table class="table">
        
            <tr>
                <th>Your Cons:</th>
                <th>The Answer:</th>
          
            </tr>
            <tr>
               
                
                <td>  @ViewBag.body</td>
                
                <td>
                    @ViewBag.ans
                </td>
            </tr>

        </table>
